// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import 'variables';

:root {
  color-scheme: dark light;
}

body {
  font-family: ui-sans-serif, sans-serif;
  color: var(--tg-theme-text-color, $text-color);
  background: var(--tg-theme-bg-color, $background-color);
}
